* {
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    height: 100vh;
    width: 100vw;
}

#forms {
    display: grid;
    height: 600px;
    width: 600px;
}

.form {
    outline: none;
}

.form:valid {
    border-color: blue;
}

.form:invalid {
    border-color: red;
}